.content{
	position: relative;
	width: 400px;
	margin:0 auto;
	ul{
		display: inline-block;
		height: 18px;
		margin-top:20px;
		>li+li{
			background: url("../images/star.png") no-repeat;
			width: 20px;
			height: 20px;
			cursor: pointer;
			text-indent: -999px;
			position: relative;
		}
		>li{
			color:#666666;
			float: left;
			padding-right: 10px;
		}
	}
	>p{
		margin:30px 0;
		text-align: center;
		position: absolute;
		top: 20px;
		left: 60px;
		width: 159px;
		height: 60px;
		font:14px "Î¢ÈíÑÅºÚ";
	}
}
li.on{
	background-position-y: -28px!important;
}
