.box{
	width: 500px;
	background: #fff;
	border-radius: 5px;
	margin: 10px auto;
	padding-top: 10px;
	>form{
	    position: relative;
		background: linear-gradient(#fff,#f0f0f0);
		padding:0 20px;
		height: 210px;
		>.name-tip{
			position: absolute;
			font:bold 16px "Î¢ÈíÑÅºÚ";
			border:1px solid #eee;
			background: #eee;
			border-radius:8px;
			top:30px;
			display: none;
		}
		>.content-tip{
			position: absolute;
			font:bold 20px "Î¢ÈíÑÅºÚ";
			border:1px solid #eee;
			background: #eee;
			border-radius:8px;
			bottom:calc(50% - 5px);
			right:calc(50% - 15px);
			display: none;
		}
		>h2{
			color:#333;
		}
		>.pic{
			float: left;
		    >li{
		  	    opacity: .6;
		  	    overflow: hidden;
		  	    //text-indent: -10px;
		  	    float: left;
		  	    width: 27px;
		  	    height: 27px;
		  	    margin-right: 5px;
		  	    >span{
		  	  	  display: none;
		  	    }
		  	    >img{
		  	  	  cursor:pointer;
		  	  	  height: 100%;
		  	  	  width: 100%;
		  	    }
		    }
		}
		>input{
			float: left;
			border:1px solid #E9E9E9;
			padding:5px;
			margin-bottom:10px;
		}
		>textarea{
			box-sizing: border-box;
			width: 100%;
			resize: none;
		}
		>p{
			margin-top:10px;
			height: 30px;
			float: right;
			color:#9999a4;
			>button{
				margin-left: 20px;
				color:white;
				font:bold 20px "Î¢ÈíÑÅºÚ";
				padding:2px 40px;
				background: linear-gradient(#99c96f,#95CE1F);
				border-radius:8px;
				border:2px solid #b9ea8a ;
				cursor:pointer;
			}
			>button:hover{
				background: linear-gradient(#95CE1F,#99c96f);
			}
		}
	}
	.t{
		padding:10px;
		>.head{
			background: #e3eaec;
			>h3{
				color:#333;
				background: #fff;
				display: inline-block;
				margin:5px 10px 0;
				padding:5px 10px;
			}
		}
		>.comment{
			>li{
				position: relative;
				border-bottom:1px dashed #D8D8D8;
				height: 50px;
				clear:both;
				padding:15px;
				>div{
					float: left;
					img{
						width: 50px;
						height: 50px;
					}
				}
				>ul{
					width: 390px;
					margin-left: 10px;
					float: left;
					>li:first-child{
						font-size: 14px;
						>a:hover{
							text-decoration: underline;
						}
					}
					>li:last-child{
						margin:5px 0;
						color:#889db6;
					}
				}
				>.delete{
					display: none;
					bottom: 15px;
					right: 10px;
					position: absolute;
					color:#889db6;
					cursor:pointer;
					>i{
						display: none;
					}
				}
				>.delete:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
li.on{
	opacity: 1!important;
	outline:1px solid orange;
}
.show{
	display:block!important;
}
.hide{
  display:none!important;
}