html,body,ul,li,p,h1,h2,h3,h4,h5,img,input {
    margin:0;
    padding:0
}
img,input {
    border:0
}
body {
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
.clearfix:after {
    content:"";
    display:block;
    height:0;
    line-height: 0;
    visibility:hidden;
    clear:both;
}
.clearfix {
    zoom:1
}
.fl {
    float: left;
}
.fr {
    float: right;
}
li {
    list-style: none;
}
a {
    text-decoration:none;
}
.bx{
    width: 1226px;
    margin:0 auto;
}