<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Vue</title>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body>
    <div id="slide" @mouseenter="iter2=true" @mouseleave="iter2=false">
        <div class="btn_l" :class="{on:iter2}" @click="btn(false)"></div>
        <div class="btn_r" :class="{on:iter2}" @click="btn(true)"></div>
        <div class="pic">
            <template v-for="(item,index) in items">
                <img :src="item.src" :class="{on:(index+1)===iter}">
            </template>
        </div>
        <ul class="btn">
            <li v-for="n in 5" :class="{on:iter===n}" @mouseenter="iter=n"></li>
        </ul>
    </div>

    <script src="lib/js/vue.min.js"></script>
    <script src="js/index.js"></script>
</body>
<script>
    console.clear();
</script>
</html>