<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="css/pub.css">
    <title>Document</title>
</head>

<body>
    <!--侧边栏-->
    <div id="aside">
        <div class="head">
            <div class="img">
                <img src="../images/eye.jpg">
            </div>
            <h5>吉米</h5>
        </div>
        <div class="nav">

        </div>
    </div>
    <!--头部-->
    <div id="top">
        <!--没有的图标-->
        <div class="icon">

        </div>
        <!--功能栏-->
        <div class="top-r">

        </div>
    </div>
    <div id="content">

    </div>
</body>

</html>