<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="angular.js"></script>
</head>
<style>

</style>
<body>
    <header>
        <h1>Header</h1>
    </header>
    <div class="content">
        <div ng-controller="nc">
            <input type="text" ng-model="num" ng-change="s()"/>
            <input type="text" ng-model="num2" ng-change="s()"/>
            <input type="text" ng-model="num3" ng-change="s()"/>
        </div>
    </div>
    <footer>
        <h5>Footer</h5>
    </footer>
</body>
<script>
    function getType(obj){
        return Object.prototype.toString.call(obj).slice(8,-1);
    }
    angular.module('app',[]).controller('nc',function ($scope,$timeout){
        $scope.s=function (){

        }
    });
</script>
</html>