<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/seckill.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <!--标题-->
        <div id="title">
            <a href="index.html" class="glyphicon glyphicon-menu-left"></a>
            <h3>金牌秒杀</h3>
        </div>
        <!--招牌商品-->
        <div id="main">
            <a href="">
                <img src="seckill_images/head.jpg">
            </a>
        </div>
        <!--倒计时-->
        <div id="time" :class="{on:scroll}">
            <ul :style="slide">
                <template v-for="(item,index) in times">  
                    <li :class="{on:iter_slide==index}" @click="iter_slide=index">
                        <span v-if="item.time">{{item.time}}</span>
                        <span v-else>
                            <span class="hour">{{clock|filter_hour}}</span>
                            <span>:</span>
                            <span class="min">{{clock|filter_min}}</span>
                            <span>:</span>
                            <span class="sec">{{clock|filter_sec}}</span>
                        </span>
                        <p v-if="item.p">{{item.p}}</p>
                        <p v-else>即将开始</p>
                    </li>
                </template>
            </ul>
            <span></span>
        </div>
        <!--商品-->
        <div id="content">
            <template v-for="(item,index) in products">
                <div class="content_text" v-show="iter_slide ==index">{{item.title}}</div>
                <div class="product_list" v-show="iter_slide==index">
                    <template v-for="list in item.product">
                        <a href="">
                            <img :src="list.src">
                            <div class="info">
                            <h2>{{list.info}}</h2>
                            <div class="price">
                                <span>￥<i>{{list.price_01}}<small>{{list.price_02}}</small></i></span>
                                <del>{{list.price_old}}</del>
                                <div class="count" :class="{on:!list.percentage}">
                                    <span class="percentage" v-if="list.percentage">
                                        已抢购{{list.percentage}}
                                        <span class="progress" :style="{width:list.percentage}"></span>
                                    </span>
                                    <span :class="{on:!list.percentage}" class="percentage" v-else>
                                        {{0}}人想抢
                                    </span>
                                    <span class="btn" v-if="list.percentage">立即抢购</span>
                                    <span class="btn" :class="{on:!list.percentage}" v-else>提醒我</span>
                                </div>
                            </div>
                        </div>
                        </a>
                    </template>
                </div>
            </template>
        </div>
    </div>
    <script src="lib/vue.min.js"></script>
    <script src="lib/vue-resource.min.js"></script>
    <script src="js/seckill.js"></script>
</body>
<script>
    console.clear();
</script>
</html>