<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <title></title>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet/less" href="css/index.less"/>
    <script src="lib/js/angular.js"></script>
    <script src="js/angularJS.js"></script>
    <script src="lib/js/less.js"></script>
</head>
<body>
    <div class="box" ng-controller="nc">
        <!--头部表单输入区域-->
        <form ng-submit="add(active)" name="comment">
            <h2>来，说说你在做什么，想什么</h2>
            <!--名字输入框-->
            <input type="text" placeholder="Enter your name" ng-model="name"/>
            <!--头像图片载入-->
            <ul class="pic">
                <pic></pic>
            </ul>
            <!--文本输入区域-->
            <div ng-if="comment.content.$invalid">输入内容</div>
            <textarea cols="50" rows="5"
                      ng-model="eq.num"
                      ng-change="count()"
                      name="content">
            </textarea>
            <!--最大输入提示区域-->
            <p>还能输入<b>{{eq.n}}</b>个字
                <button>广播</button>
            </p>
        </form>
        <!--评论区域-->
        <div class="t">
            <div class="head">
                <h3>大家在说</h3>
            </div>
            <ul>
                <add-comment></add-comment>
                <comment></comment>
            </ul>
        </div>
    </div>
</body>
</html>