<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Vue</title>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body>
    <!--头部-->
    <header>
        <div class="bx">
            <div class="h-l fl">
                <ul>
                    <li><a href="">Keith Chou</a></li>
                    <li>                      
                        <a href="">
                            <span class="red glyphicon glyphicon-envelope"></span>
                            消息
                        </a>
                    </li>
                    <li><a href="">手机逛淘宝</a></li>
                </ul>
            </div>
            <div class="h-r fr">
                <ul>
                    <li><a href="">淘宝网首页</a></li>
                    <li>
                        <a href="">我的淘宝<span class="glyphicon glyphicon-chevron-down"></span></a>
                        <ul>
                            <li><a href="">已买到的宝贝</a></li>
                            <li><a href="">我的足迹</a></li>
                            <li><a href="">爱逛街</a></li>
                            <li><a href="">逛宝达人</a></li>
                            <li><a href="">新欢</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <span class="glyphicon glyphicon-star"></span>
                            收藏夹
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul>
                            <li><a href="">收藏的宝贝</a></li>
                            <li><a href="">收藏的店铺</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">卖家中心<span class="glyphicon glyphicon-chevron-down"></span></a>
                        <ul>
                            <li><a href="">免费开店</a></li>
                            <li><a href="">已卖出的宝贝</a></li>
                            <li><a href="">出售中的宝贝</a></li>
                            <li><a href="">卖家服务市场</a></li>
                            <li><a href="">卖家培训中心</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">联系客服<span class="glyphicon glyphicon-chevron-down"></span></a>
                        <ul>
                            <li><a href="">消费者客服</a></li>
                            <li><a href="">卖家客服</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!--logo和搜索-->
    <div class="logo bx" id="sear">
        <h1 class="fl">
            <a href=""><img src="images/logo.png"></a>
        </h1>
        <div class="fr">
            <input v-model="input" @keyup="showTag" type="text" placeholder="请输入内容">
            <button @click="input=''">搜索</button>
            <div v-show="match[0]">
                <template v-for="(item,index) in match"> 
                    <p @click="search(index)">{{match[index]}}</p>
                </template>
            </div>  
        </div>
    </div>
    <div id="app">
        <!--结算-->
        <div class="count bx" id="count">
            <ul class="fl">
                <li :class="{on:tab===1}" @mouseenter="tab=1"><a href="" class="on">全部商品 <span>{{all_content}}</span></a></li>
                <li :class="{on:tab===2}" @mouseenter="tab=2" @mouseleave="tab=1"><a href="">降价商品 <span>0</span></a></li>
                <li :class="{on:tab===3}" @mouseenter="tab=3" @mouseleave="tab=1"><a href="">库存紧张 <span>0</span></a></li>
            </ul>
            <ul class="fr">
                <li>已选商品（不含运费）</li>
                <li>￥<span>{{totalPrice}}</span></li>
                <li><button :class="{on:take != 0}">结算</button></li>
            </ul>
        </div>
        <!--商品-->
        <div class="content bx" id="main">
            <div class="c-t">
                <label>
                    <input type="checkbox"
                     v-model="checkedAll" 
                     @click="checkAll(!checkedAll)"> 全选
                </label>
                <span>商品信息</span>
                <div class="fr">
                    <span>单价</span>
                    <span>数量</span>
                    <span>金额</span>
                    <span>操作</span>
                </div>
            </div>
            <div class="box">
                <template v-for="(item,index) in items">
                    <ul>
                        <li v-show="!del_iter[index]">成功删除 1 件宝贝，可
                            <a href="javascript:;" @click="$set(del_iter,index,true)">撤销本次删除</a>
                        </li>
                        <li v-show="del_iter[index]">
                            <label>
                                <input type="checkbox"
                                    @click="check(index)" 
                                    v-model="checked[index]"
                                >&nbsp;&nbsp;店铺
                            </label>
                            <span>{{item.shop}}</span>
                        </li>
                        <li v-show="del_iter[index]">
                            <ul :class="{on:checked[index]}" >
                                <li>
                                    <input type="checkbox" 
                                    v-model="checked[index]"                                   
                                    @click="check(index)">
                                </li>
                                <li><img :src="item.src"></li>
                                <li class="c3">
                                    <p>{{item.tip}}</p>
                                    <img :src="item.srcTip1">
                                    <img :src="item.srcTip2">
                                    <img :src="item.srcTip3">
                                </li>
                                <li class="c4">
                                    <p>{{item.type}}</p>
                                    <p>{{item.size}}</p>
                                </li>
                                <li class="c5">
                                    <p class="c5_prev" v-if="item.prev_price">￥<span>{{item.prev_price}}</span></p>
                                    <p class="c5_now">￥<span>{{item.price}}</span></p>
                                    <p @mouseenter="tip(index,true)" @mouseleave="tip(index,false)" v-if="item.extra">{{item.extra}}</p>
                                    <p class="c5_sale" v-if="item.extra" :class="{on:tip_iter[index]}">超值商品<span>{{sale[index]}}</span>折优惠</p>
                                </li>
                                <li class="c6">
                                    <button @click="btn(index)">-</button>
                                    <input type="text" 
                                    v-model="count[index]" 
                                    oninput="this.value=this.value.replace(/\D/g,'')" 
                                    @keyup="key(index)">
                                    <button @click="btn(index,true)">+</button>
                                </li>
                                <li class="c7">
                                    <p>￥<span>{{price(index)}}</span></p>
                                </li>
                                <li class="c8">
                                    <a href="javascript:;" @click="del(index)">删除</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </template>
            </div>
        </div>
        <!--底部-->
        <footer class="foot">
            <ul class="foot-l fl">
                <li>
                    <!-- 底部全选按钮-->
                    <label>
                        <input type="checkbox" 
                        v-model="checkedAll" 
                     @click="checkAll(!checkedAll)"/> 全选
                    </label>
                </li>
                <li><a href="">删除</a></li>
                <li><a href="">移入收藏夹</a></li>
                <li><a href="">分享</a></li>
            </ul>
            <ul class="foot-r fr">
                <!-- 已选中商品-->
                <li class="f-count">已选商品
                    <span>{{take}}</span>件
                </li>
                <!-- 底部总价-->
                <li class="f-total">合计（不含运费）：
                    <span>￥</span><span>{{totalPrice}}</span>
                </li>
                <li><button :class="{on:take != 0}">结算</button></li>
            </ul>
        </footer>
    </div>
    <script src="lib/js/vue.min.js"></script>
    <script src="js/index.js"></script>
</body>
<script>
    console.clear();
</script>
</html>